﻿@if (Session["userID"] == null) //This is a check for block the user access w/o login :D
{
    Response.Redirect("~/Login/Index");
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Page</title>
</head>
<body>
    <div>
        <h1 style="color:green">This is a simple Home example, you can set what u want here</h1>
    </div>
</body>
</html>
